@model IEnumerable<PerpusAppWeb.Models.penulis>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nama_penulis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alamat_penulis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hp_penulis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nama_penulis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alamat_penulis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hp_penulis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_penulis }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_penulis }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_penulis })
        </td>
    </tr>
}

</table>
