@model IEnumerable<PerpusAppWeb.Models.member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nama_member)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alamat_member)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hp_member)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nama_member)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alamat_member)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hp_member)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_member }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_member }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_member })
        </td>
    </tr>
}

</table>
